<div class="container">
    <div class="row">
      <img class="mx-auto d-block" src="../../assets/images/bannertoledo.jpg" alt="BannerToledo" width="1140" height="80">

 <div class="container p-3 my-3 bg-light text-primary">
    <div class="font-italic">
    <h2 class="text-center">Bienvenido/a a Toledo</h2>
</div>
</div>    

<div class="container">
<img  class="mx-auto d-block rounded-circle" src="../../assets/images/toledo.jpg" alt="Toledo" width="300" height="300"/>
</div>
<!--<div style="background-image: url('img_girl.jpg');"> 
-->
<br>
<div class="container p-3 my-3 bg-primary text-white">
<p class="text-center">
Toledo es un municipio y ciudad española, capital 
    de la provincia homónima, en la comunidad autónoma
     de Castilla-La Mancha. Es conocida como «la ciudad 
     imperial» por haber sido la sede principal de la corte
      de Carlos I​ y también como «la ciudad de las tres 
      culturas», por haber estado poblada durante siglos
       por cristianos, judíos y musulmanes.
        Con una población de 84 873 habitantes 
        (INE, 2019), se trata del tercer municipio
         más poblado de la región, tras Albacete y 
         Guadalajara. </p>
</div>
</div>

<div class="container p-3 my-3 bg-light text-primary">
  <div class="font-italic">
  <h3 class="text-center">¿ Cuándo viajar a Toledo ?</h3>       
</div>
</div>

<div class="container">
  <img class="mx-auto d-block" src="../../assets/images/climatoledo.png" alt="ClimaToledo" width="900">
  </div>
  <div class="container p-3 my-3 bg-primary text-white">    
    <p class="text-center">
      Toledo tiene un clima bastante seco que podría
      definirse como continental moderado. Los inviernos 
      son fríos, aunque no extremos, y los veranos son muy 
      calurosos. El porcentaje de días soleados es uno de los más altos de España. 
      En general, fechas idóneas para visitar Toledo son todas. Si quiere estar 
      muy tranquilo de bullicio, la ciudad se queda prácticamente vacía durante el
       mes de agosto. Es el mes en que la mayoría de toledanos aprovecha para
        disfrutar de las merecidas vacaciones, fuera de su lugar de trabajo. 
        El verano es una época importante para el turismo de la ciudad.
 </p>
</div>
</div>


