<div class="jumbotron text-center">
<h1>Bienvenido a la aplicación de empleados</h1>
</div>

<div class="container p-3 my-3 bg-dark text-white">
<h5>
  Revisar el listado de empleados.
</h5>
<div class="btn-group-vertical">
<button class="btn btn-danger mr-3" (click)="mostrarListado()"> Listado </button>
</div>
</div>

<br>

<div class="container p-3 my-3 bg-secondary text-white">
<h5>
  Obtener el salario con ajuste de IPC.
</h5>
<div class="btn-group-vertical">
<button class=" btn btn-info" (click)="mostrarConsulta()"> Consulta </button>
</div>
</div>

<br>

<div class="container p-3 my-3 bg-dark text-white">
  <h5>
    Informaciones sobre la ciudad de Madrid.
  </h5>
  <div class="btn-group-vertical">
    <button class="btn btn-danger mr-3" (click)="mostrarMadrid()"> Madrid </button>
  </div>
  </div>
  <br>

  <div class="container p-3 my-3 bg-secondary text-dark">
    <h5>
      Informaciones sobre la ciudad de Toledo.
    </h5>
    <div class="btn-group-vertical">
      <button class="btn btn-info mr-3" (click)="mostrarToledo()"> Toledo </button>
    </div>
    </div>

    <router-outlet></router-outlet> 
